{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
  <h1 class="article-{{ article.status }}">{{ article.title }}</h1>
  <span class="date">
    {{ article.date.strftime("%Y/%m/%d") }},
    <a href="{{ SITEURL }}" title="Přejít na seznam článků">&#10154;</a>
  </span>
  <div class="article">
    {{ article.content }}
  </div>

  {% if article.share_post and article.status != 'draft' %}
    <p class="social">
        <a href="{{ article.share_post['facebook'] }}" target="_blank"><img src="{{ SITEURL }}/theme/img/fb.png"></a>
         <a href="{{ article.share_post['google-plus'] }}" target="_blank"><img src="{{ SITEURL }}/theme/img/google.png"></a>
         <a href="{{ article.share_post['twitter'] }}" target="_blank"><img src="{{ SITEURL }}/theme/img/twitter.png"></a>
         <a href="{{ article.share_post['email'] }}" target="_blank"><img src="{{ SITEURL }}/theme/img/mail.png"></a>
      </p>
  {% endif %}
  
  <div id="disqus_thread"></div>
   <script type="text/javascript">
       /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
       var disqus_shortname = 'zapisnik-glor-cz'; // required: replace example with your forum shortname

       /* * * DON'T EDIT BELOW THIS LINE * * */
       (function() {
           var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
           dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
           (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
       })();
   </script>
   <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  

  {% if article.related_posts %}
    <h2>Další podobné články: </h2>
    <p> 
      <a href="{{ SITEURL}}/{{ category.url }}">kategorie „{{ category }}“</a>, 
      {% for related_post in article.related_posts %}
        <a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a>{% if not loop.last %}, {% endif %}
      {% endfor %}
    </p>
  {% endif %}
{% endblock %}
