{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
  <h1>{{ article.title }}</h1>
  <span class="date">{{ article.date.strftime("%Y/%m/%d") }}</span>, <a href="{{ SITEURL }}">&#10154;</a>
  <div class="article">
    {{ article.content }}
  </div>

  {% if article.share_post and article.status != 'draft' %}
    <p class="social">
        <a href="{{ article.share_post['facebook'] }}" target="_blank"><img src="{{ SITEURL }}/theme/img/fb.png"></a>
         <a href="{{ article.share_post['google-plus'] }}" target="_blank"><img src="{{ SITEURL }}/theme/img/google.png"></a>
         <a href="{{ article.share_post['twitter'] }}" target="_blank"><img src="{{ SITEURL }}/theme/img/twitter.png"></a>
         <a href="{{ article.share_post['email'] }}" target="_blank"><img src="{{ SITEURL }}/theme/img/mail.png"></a>
      </p>
  {% endif %}


  {% if article.related_posts %}
    <h2>Další podobné články: </h2>
    <p>
      {% for related_post in article.related_posts %}
        <a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a>{% if not loop.last %}, {% endif %}
      {% endfor %}
    </p>
  {% endif %}
{% endblock %}
