{% extends "base.html" %}

{% block title %}Nálepky{% endblock %}

{% block content %}
  <h1>Zápisník</h1>
  <p class="intro">O cestování s batohem na zádech. Povídky i příběhy ze života.
                   Fotografie ze zapadlých koutů světa i Česka.</p>

  <h2>Nálepky, <a href="{{ SITEURL }}">&#10154;</a></h2>

  <p>
  {%- for tag, articles in tags|sort %}
    <span class="sc"><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})</span>
  {% endfor %}
  </p>
{% endblock %}
